:root {
  /*Hero Section variables for all sizes */

  --main-background-color: rgb(255, 165, 0);
  --section-background-color: rgb(255, 219, 153);
  --dark-color: rgb(35, 32, 32);
  --hero-cta-btn: rgb(36, 123, 160);
  --hero-picture-xs: 70vw;
  --hero-picture-sm: 60vw;
  --hero-picture-md: 50vw;
  --hero-picture-lg: 30vw;
  --hero-height-xs: auto;
  --hero-height-lg: 100vh;
  --hero-main-title-size-lg: 4em;
  --hero-main-title-size-md: 3em;
  --hero-main-title-size-sm: 2.4em;

  /*section height for large screen*/
  --section-height-lg: 100vh;

  /*section font sizes*/
  --section-title-size-lg: 4em;
  --section-title-size-md: 3em;
  --section-title-size-sm: 2.4em;

  --section-text-size-lg: 1.5em;
  --section-text-size-md: 1.2em;
  --section-text-size-sm: 1em;
}

.centered {
  display: flex;
  justify-content: center;
}

.skills-badge {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  color: var(--dark-color);
}
a {
  text-decoration: none;
}
.page-section:nth-child(even) {
  background-color: var(--section-background-color);
}
/* Primary background color, will be applied on the main parts of the design */

.bg-main-background-color {
  background-color: var(--main-background-color);
}

.btn-hero {
  background-color: var(--hero-cta-btn);
  color: #fff;
  border-radius: 20px;
}
.btn-hero:hover {
  background-color: #1d6584;
  color: #fff;
  outline: 3px solid #fff;
}

/**** Work Section ****/

/**** Form ****/

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -12px 12px 10px -8px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -12px 12px 10px -8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -12px 12px 10px -8px rgba(0, 0, 0, 0.52);
}

/**** Footer ****/

footer {
  background-color: var(--dark-color);
}
footer p {
  color: #ffffff !important;
}

/****************************** MEDIA QUERIES ********************************/

/* Extra Small (xs) - Default: Up to 576px */
@media (min-width: 0px) and (max-width: 575.98px) {
  .hero-picture-xs {
    width: var(--hero-picture-xs);
  }

  .hero-height-xs {
    height: var(--hero-height-xs);
  }

  #work {
    padding-top: 2em;
  }

  #work .card {
    margin-bottom: 1em;
  }
}

/****************************** SM ********************************/

/* Small (sm) - Media Query: @media (min-width: 576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-picture-xs {
    width: var(--hero-picture-sm);
  }

  #work {
    padding-top: 2em;
  }

  .hero-main-title {
    font-size: var(--hero-main-title-size-sm);
  }

  .page-section h2 {
    font-size: var(--section-title-size-sm);
  }

  #work .card {
    margin-bottom: 2em;
  }
}

/****************************** MD ********************************/

/* Medium (md) - Media Query: @media (min-width: 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-picture-md {
    max-width: var(--hero-picture-md);
  }

  .hero-main-title-md {
    font-size: var(--hero-main-title-size-md);
  }

  .card-size {
    width: 45%;
    margin-bottom: 2em;
  }

  .page-section h2 {
    font-size: var(--section-title-size-md);
  }

  .page-section .p-section-text {
    font-size: var(--section-text-size-md);
  }

  #work .card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  /*added box-shadow */
  #work .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: zoom-in;
  }
}

/****************************** LG ********************************/

/* Large (lg) - Media Query: @media (max-width: 2024px) */
@media (min-width: 992px) and (max-width: 2024px) {
  .hero-picture-lg {
    max-width: var(--hero-picture-lg);
  }

  .hero-height-lg {
    height: var(--hero-height-lg) !important;
  }

  .hero-main-title {
    font-size: var(--hero-main-title-size-lg);
  }

  .card-size {
    width: 20%;
  }

  .page-section {
    height: 100vh;
  }

  .page-section h2 {
    font-size: var(--section-title-size-lg);
  }

  .page-section .p-section-text {
    font-size: var(--section-text-size-lg);
  }

  /* Added transition*/
  #work .card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  /* Adjusted the scale*/
  #work .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: zoom-in;
  }
  /* Adjusted rotation angle to the right*/
  #work .card:nth-child(odd):hover {
    transform: scale(1.05) rotate(3deg);
  }

  /* Adjusted rotation angle to the left*/
  #work .card:nth-child(even):hover {
    transform: scale(1.05) rotate(-3deg);
  }
}
